@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background-image: url('/icons/Landing page.png'); /* Corrected path */
  width: 100%;
  min-height: 100vh; /* Ensures the background covers the entire viewport */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}